.stat_list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.statistics{
width: 400px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.item{
padding: 20px;
}
